<div class="wrapper">
  <!-- Sidebar  -->
  <nav id="sidebar" [ngClass]="{ active: openToggle() }">
    <div class="sidebar-header">
      <div class="container-fluid">
        <!-- Button sidebar collapse -->
        <button
          type="button"
          id="sidebarCollapse"
          class="btn btn-danger btnSideberCollapse"
          (click)="onClickToggleSidebar()"
        >
          <!-- icon bootstarp -->
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-justify"
            viewBox="0 0 16 16"
          >
            <path
              fill-rule="evenodd"
              d="M2 12.5a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z"
            />
          </svg>
        </button>
      </div>
      <!-- Image: Logo Angular -->
      <img
        src="assets/images/logos/angular/logo-nav@2x.png"
        width="150"
        height="40"
        title="logoangular"
        alt="logoangular"
        class="ng-star-inserted"
      />
    </div>

    <ul class="list-unstyled components">
      <!-- Section 1 -->
      <li>
        <a
          href="#sectionone"
          data-toggle="collapse"
          aria-expanded="false"
          class="dropdown-toggle"
          >Section 1
          <span class="caret"></span>
          </a
        >
        <ul class="collapse list-unstyled" id="sectionone">
          <li>
            <a href="#">Page 1</a>
          </li>
          <li>
            <a href="#">Page 2</a>
          </li>
          <li>
            <a href="#">Page 3</a>
          </li>
        </ul>
      </li>
      <!-- Section 2 -->
      <li>
        <a
          href="#sectiontwo"
          data-toggle="collapse"
          aria-expanded="false"
          class="dropdown-toggle"
          >Section 2
          <span class="caret"></span>
          </a
        >
        <ul class="collapse list-unstyled" id="sectiontwo">
          <li>
            <a href="#">39: Else Condition</a>
          </li>
          <li>
            <a href="#"> 40: ngStyle</a>
          </li>
          <li>
            <a [routerLink]="['/sectionfortyone']">41 : ngClass</a>
          </li>
          <li>
            <a [routerLink]="['/sectionfortytwo']">42 : ngFor</a>
          </li>
          <li>
            <a [routerLink]="['/sectionfortythree']">43 : Assignment Solution</a>
          </li>
          <li>
            <a [routerLink]="['/sectionfortyfour']">44 : Getting the index (ngFor)</a>
          </li>
        </ul>
      </li>
       <!-- Section 3 -->
       <li>
        <a
          href="#sectionthree"
          data-toggle="collapse"
          aria-expanded="false"
          class="dropdown-toggle"
          >Section 3
          <span class="caret"></span>
          </a
        >
        <ul class="collapse list-unstyled" id="sectionthree">
          <li>
            <a href="#">46. Planning the App</a>
          </li>
        </ul>
      </li>
       <!-- Section 4 -->
       <li>
        <a
          href="#sectionfour"
          data-toggle="collapse"
          aria-expanded="false"
          class="dropdown-toggle"
          >Section 4
          <span class="caret"></span>
          </a
        >
        <ul class="collapse list-unstyled" id="sectionfour">
          <li>
            <a [routerLink]="['/sectionsixtytwo']">62: Error Messages</a>
          </li>
          <li>
            <a [routerLink]="['/sectionsixtythree']">63: Debugging Code</a>
          </li>
        </ul>
      </li>
      <!-- Section 5 -->
       <li> 
        <a
          href="#sectionfive"
          data-toggle="collapse"
          aria-expanded="false"
          class="dropdown-toggle"
          >Section 5
          <span class="caret"></span>
          </a
        >
        <ul class="collapse list-unstyled" id="sectionfive">
          <li>
            <a [routerLink]="['/sectionsixtyfive']">65: Splitting Apps</a>
          </li>
          <li>
            <a [routerLink]="['/sectioneightyfour']">84: Assignment Solution</a>
          </li>
        </ul>
      </li> 
      <!-- Section 6 -->
      <li>
        <a
        href="#sectionsix"
        data-toggle="collapse"
        aria-expanded="false"
        class="dropdown-toggle"
        >Section 6
        <span class="caret"></span>
        </a
      >
      <ul class="collapse list-unstyled" id="sectionsix">
        <li>
          <a [routerLink]="['/sectioneightysix']">86. Adding Navigation</a>
        </li>
      </ul>
      </li>
       <!-- Section 7 -->
       <li>
        <a
        href="#sectionseven"
        data-toggle="collapse"
        aria-expanded="false"
        class="dropdown-toggle"
        >Section 7
        <span class="caret"></span>
        </a
      >
      <ul class="collapse list-unstyled" id="sectionseven">
        <li>
          <a [routerLink]="['/sectionninetytwo']">92. ngFor and ngIf Recap</a>
        </li>
        <li>
          <a [routerLink]="['/sectionninetythree']">93. ngClass and ngStyle Recap</a>
        </li>
        <li>
          <a [routerLink]="['/sectionninetyfour']">94. Creating a Basic Attribute Directive</a>
        </li>
        <li>
          <a [routerLink]="['/sectionninetyfive']">95. Renderer to build a Better Attribute Directive</a>
        </li>
        <li>
          <a [routerLink]="['/sectionninetyseven']">97. HostListener</a>
        </li>
        <li>
          <a [routerLink]="['/sectionninetyeight']">98. HostBinding </a>
        </li>
        <li>
          <a [routerLink]="['/sectionninetynine']">99. Binding to Directive Properties </a>
        </li>
        <li>
          <a [routerLink]="['/sectiononehundred']">100. What Happens Behind the Scenes on Structural Directives</a>
        </li>
        <li>
          <a [routerLink]="['/sectiononehundred-one']">101. Building a Structural Directive</a>
        </li>
        <li>
          <a [routerLink]="['/sectiononehundred-two']">102. Understanding ngSwitch</a>
        </li>
      </ul>
      </li>
      <!-- Section 9 -->
      <li>
        <a
        href="#homeworkjavascript"
        data-toggle="collapse"
        aria-expanded="false"
        class="dropdown-toggle"
        [routerLink]="['/homeworkjavascript']"
        >
        Homework 101
        </a
      >
      </li>


    </ul>
  </nav>

  <!-- Page Content  -->
  <div id="content">
    <router-outlet></router-outlet>
  </div>
</div>
